@import "utiles";
$font-stack: 'Montserrat', serif;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

.a11y-hidden, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: $rootUnit;
  font-family: $font-stack;
}

body {
  @include flexboxCenter();
  height: 100vh;
  color: var(--very-dark-blue);
}

image {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

input:focus {
  outline: none;
}