@import './base';
@import './normalize';
@import './theme';
@import './utiles';

body {
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--cream);
}

.card {
  overflow: hidden;
  // width: 600px;
  width: rem(600px);
  height: 450px;
  height: rem(450px);
  margin: auto auto;
  border-radius: rem(8px);
  display: flex;
  flex-direction: column nowrap;
  @include mobile {
    width: rem(343px);
    height: rem(611px);
    display: block;
  }
  &__image {
    &__channel__perfume {
      width: rem(300px);
      height: auto;
      @include mobile {
        width: rem(343px);
        height: rem(240px);
        object-fit: cover
      }
    }
  }
  &__content {
    width: rem(300px);
    height: auto;
    background-color: var(--white);
    padding: rem(32px);
    @include mobile {
      padding: rem(20px); 
    }
    @include mobile {
      width: rem(343px);
      height: rem(371px);
    }
    &__head1 {
      color: var(--dark-grayish-blue);
      font-size: rem(12px);
      line-height: rem(15px);
      letter-spacing: rem(5px);
      margin-bottom: rem(20px);
      @include mobile {
        font-size: rem(8px);
        margin-bottom: rem(8px); 
      }
    }
    &__head2 {
      font-family: 'Fraunces', sans-serif;  
      font-weight: 700;
      font-size: rem(32px);
      line-height: rem(32px);
      margin-bottom: rem(24px);
      @include mobile {
        font-size: rem(28px);
        margin-bottom: rem(12px); 
      }
    }
    &__paragraph {
      font-weight: 500;
      font-size: rem(14px);
      line-height: rem(23px);
      margin-bottom: rem(29px);
      @include mobile {
        font-size: rem(10px);
        margin-bottom: rem(14.5px); 
      }
    }
    &__price {
      &--discount {
        float: left;
        font-family: 'Fraunces', sans-serif;  
        font-weight: 700;
        font-size: rem(32px);
        line-height: rem(32px);
        color: var(--dark-cyan);
        @include mobile {
          font-size: rem(28px);
        }
      }
      &--raw {
        float: left;
        font-weight: 500;
        font-size: rem(13px);
        line-height: rem(32px);
        height: rem(32px);
        margin-left: rem(19px);
        text-decoration: line-through;
        margin-bottom: rem(32px);
        @include mobile {
          font-size: rem(9px);
          margin-bottom: rem(16px);
        }
      }
    }
    &__add__to__cart {
      width: rem(236px);
      height: rem(48px);
      display: flex;
      background-color: var(--dark-cyan);
      border-radius: rem(8px);
      justify-content: center;
      align-items: center;
      gap: rem(11.6px);
      cursor: pointer;
      @include mobile {
        width: rem(265px);
        margin: 0 auto;
      }
      &__icon{
        width: rem(14.39px);
        height: rem(16px);
      }
      &__text{
        color: var(--white);
      }
    }
    &__add__to__cart:hover {
      background-color: #1A4032;
    }
  }
}

.float__wrapper {
  display: flow-root;
}