@import 'base';
@import 'normalize';
@import 'theme';
@import 'utiles';

body {
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--cream);
}

.card {
  overflow: hidden;
  width: rem(600);
  height: rem(450);
  margin: auto auto;
  border-radius: 8px;
  display: flex;
  flex-direction: row nowrap;
  &__image {
    &__channel__perfume {
      width: 300px;
      height: auto;
    }
  }
  &__content {
    width: 300px;
    height: auto;
    background-color: var(--white);
    padding: 32px;
    &__head1 {
      color: var(--dark-grayish-blue);
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 5px;
      margin-bottom: 20px;
    }
    &__head2 {
      font-family: 'Fraunces', sans-serif;  
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 24px;
    }
    &__paragraph {
      font-weight: 500;
      font-size: 14px;
      line-height: 23px;
      margin-bottom: 29px;
    }
    &__price {
      &--discount {
        float: left;
        font-family: 'Fraunces', sans-serif;  
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        color: var(--dark-cyan);
      }
      &--raw {
        float: left;
        font-weight: 500;
        font-size: 13px;
        line-height: 32px;
        height: 32px;
        margin-left: 19px;
        text-decoration: line-through;
        margin-bottom: 32px;
      }
    }
    &__add__to__cart {
      width: 236px;
      height: 48px;
      display: flex;
      background-color: var(--dark-cyan);
      border-radius: 8px;
      justify-content: center;
      align-items: center;
      gap: 11.6px;
      cursor: pointer;
      &__icon{
        width: 14.39px;
        height: 16px;
      }
      &__text{
        color: var(--white);
      }
    }
    &__add__to__cart:hover {
      background-color: #1A4032;
    }
  }
}

.float__wrapper {
  display: flow-root;
}
